<div style="margin-top:10px;" class="container">
  <h2><%= @website_section.title %></h2>

  <% #Optional Parameters:
     # content_type: Leave blank to search all section types, set to Blog to only search Blog articles
     # section_unique_name: Leave blank to search all pages if passed will confine search to a particular
     #  pages content
     # search_url: Main search url, only needed if results are being redirected
     # redirect_results: If true will redirect to search page to display results.  Used for inline search
     #   boxes
     # per_page: Number of results per page
  %>
  <%= render_widget :search %>
</div>