<ol class="breadcrumb">
  <% links.each do |link| %>
      <% if link[:title] == links.last[:title] %>
          <li class="active"><%= link[:title] %></li>
      <% else %>
          <li><a href="<%= link[:url] %>"><%= link[:title] %></a></li>
      <% end %>
  <% end %>
  <br/>
</ol>