.x-border-layout-ct {
    background-color: #537697 !important;
}

.x-btn-default-toolbar-small {
    background-image: none !important;
}

.x-toolbar-tasktoolbar .x-btn-default-toolbar-small {
    background-color: #fff !important;
    border-style: none;
}

#erp_app_viewport_center-body {
    border-bottom-left-radius: 9px !important;
    border-bottom-right-radius: 9px !important;
}

.masterPanel .x-tab-bar-strip-default {
    border-color: white;
    background-color: white;
}

.masterPanel .x-tab-default-active {
    background-color: white;
}

.masterPanel .x-tab-bar-strip-default-top {
    border-top-right-radius: 5px;
}

.masterPanel .x-panel-body-default {
    border-width: 0;
}

​