.content-area {
    padding-top: 0;
}

@media screen and (max-width: 765px) {
    h2 {
        font-size: 24px;
        margin-top: 0;
    }

    .container {
        padding: 0;
    }

    .container > .navbar-collapse {
        clear: both;
        margin-right: 0;
        margin-left: 0;
    }

    div.footer {
        margin-left: -20px;
        margin-right: -20px;
    }

}

@media screen and (min-width: 980px) {
    .content-area {
        padding-top: 50px;
    }
}

/* The html and body elements cannot have any padding or margin. */
html,
body {
    height: 100%;
    font-weight: 400;
}

body {
    margin: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

.navbar-brand {
    padding: 8px 5px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
    margin-left: 10px;
}

.navbar-nav {
    margin-top: 2px;
}

.nav > li > a {
    position: relative;
    display: block;
}

.login-header {
    float: right;
    margin-right: 20px;
    margin-top: 14px;
}

.login-header a span {
    color: #aaa;
}

.login-header a span:hover {
    color: #fff;
}

.container > h1 {
    text-align: center;
}

h2, h3, h4, h5 {
    font-weight: 200;
}

label {
    font-weight: 200;
}

div.footer {
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

footer p {
    color: #777;
}

.credit {
    margin-top: 14px;
}

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #aaa;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}