div.knitkit-inlineedit-editable {
    cursor: pointer;
    border: 2px dotted red;
    border-radius: 5px;
}

a.inline-edit-close {
    float: right;
    cursor: pointer;
}

a.inline-edit-close img {
    margin-bottom: 7px;
}

#editableContentContainer .header {
    border: 1px solid white;
    height: 30px;
    background-color: black;
    padding: 3px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

span.inline-edit-message {
    line-height: 1em;
    color: white;
    font-size: 16px;
}

div.editable-content-actionresult {
    color: white;
    border: 1px solid white;
    background-color: black;
    padding: 3px 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.modal-container {
    position: fixed;
    top: 25%;
    left: 15%;
    width: 75%;
    height: 100%;
    z-index: 1002;
    overflow: auto;
}

#warning-modal {
    z-index: 1003;
    background-color: white;
    border: solid 5px #025587;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 455px;
    height: 55px;
    overflow: auto;
    padding: 10px;
    text-align: center;
}

div.ckeditor_wrapper {
    background-color: #F0EFE2;
    padding: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    z-index: 1001;
}

body.inline-editing {
    overflow: hidden;
}