<span class="login-header">
<% unless @authenticated -%>
  <a href="<%= @login_url %>"><span>Login</span></a>
<% else %>
    <a href="/session/sign_out?login_url=<%= @login_url %>"><span>Logout</span></a>
<% end %>
</span>