<div style='padding: 10px;'>

  <h1>Description: <%= @product_type.description %></h1>
  <h2>SKU: <%= @product_type.sku %></h2>
  <h2>Unit of Measurement: <%= @product_type.unit_of_measurement.description rescue nil%></h2>
  <h2>Details: <%= @product_type.comment %></h2>

</div>