<div style="margin-top:10px;" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin: 0 auto;float:none;">
      <h2><%= @website_section.title %></h2>

      <%= render_widget :reset_password, :params => {:login_url => "/login"} %>

    </div>
  </div>
</div>