<div class="alert alert-danger">
  <strong>An Error Occurred</strong>
  <% if @is_html_form %>
    <ul>
      <% @validation.each do |k, v| %>
        <li><%= v %></li>
      <% end %>
    </ul>
  <% end %>
</div>