.crm-contacts-list {
    padding-top: 5px;
}

.crm-contacts-list-item {
    margin-top: 2px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #555;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: none;
    margin-left: 5px;
    padding: 3px 0px 3px 10px;
}

.crm-contacts-list .x-item-selected {
    z-index: 9999;
    font-weight: bold;
    color: #15428B;
    background-color: #eee;
    border: 1px solid #555;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: none;
    margin-left: 3px;
    background-image: url(/assets/icons/simple_arrow/simple_arrow_16x16.png) !important;
    background-repeat:no-repeat !important;
    background-position: 105% 50%  !important;
}

.crm-contacts-list-icon {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 3px;
}

.crm-contacts-list-item-hover {
    background-color: #eee;
}

.selectedContactContainer {
}
