#databaseCombo {
    border-radius: 4px !important;
}

#databaseCombo-inputEl {
    border-radius: 0px !important;
}

.icon-rails_db_admin {
    background-image:url( /images/icons/rails_db_admin/rails_db_admin_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/rails_db_admin/rails_db_admin_16x16.png', sizingMethod='crop');
}

.icon-rails_db_admin-light {
    background-image:url( /images/icons/rails_db_admin/rails_db_admin_light_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/rails_db_admin/rails_db_admin_16x16.png', sizingMethod='crop');
}





