<style>
  .onlineDocumentSectionIframeContainer {
    width: 100%;
    padding: 10px;
  }

  .onlineDocumentSectionIframe {
    width: 100%;
    height: 100%;
  }
</style>

<div class="onlineDocumentSectionIframeContainer">
  <iframe class="onlineDocumentSectionIframe" src="/onlinedocumentsections/<%= @online_document.id %>/show" frameborder="0"></iframe>
</div>

<script type="text/javascript">
  function resize_windows() {
    window_height = $('body').height();
    header_height = $('#header').height();
    footer_height = $('#footer').height();
    document_content_height = window_height - header_height - footer_height;
    $('.onlineDocumentSectionIframeContainer').height(document_content_height);
  }

  $(document).ready(function(){
    resize_windows();

    window.onresize = function(event) {
      resize_windows();
    };
  });
</script>